<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>計算ツール</title>
</head>

<body>
    <h1>いろいろ計算ツール</h1>
    <ul>
        <li><a href="{% url 'work06:reiwa' %}">令和 → 西暦変換ツール</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'work06:bmi' %}">BMI計算してくれるくん</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'work06:warikan' %}">割り勘計算してくれるくん</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'work06:chokin' %}">貯金計算してくれるくん</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'work06:calculator' %}">四則演算計算機</a></li>
    </ul>
</body>

</html>