<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>メモ一覧</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'work08/styles.css' %}">
</head>

<body>
    <h1>メモ帳アプリ</h1>
    <form method="post" action="{% url 'work08:create_memo' %}">
        {% csrf_token %}
        <button type="submit">新規作成</button>
    </form>

    <h2>メモ一覧</h2>
    <ul>
        {% for memo in memos %}
        <li class="memo-item">
            <span class="edit-link">
                <a href="{% url 'work08:edit' memo.id %}" class="edit">編集</a>
            </span>
            <span class="memo-title">{{ memo.title }}</span>

            {% if memo.image %}
            <img src="{{ memo.image.url }}" alt="メモ画像" style="max-width:100px;">
            {% endif %}

            <form method="post" action="{% url 'work08:delete_memo' memo.id %}">
                {% csrf_token %}
                <button type="submit" class="delete-btn">削除</button>
            </form>
        </li>
        {% empty %}
        <li>メモはありません</li>
        {% endfor %}
    </ul>


</body>

</html>